body{

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    padding-bottom: 80px;
    background-color: #FAF3EE;
}
html{
    height:100%;
}


 * {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
 .newnav{
    
    height:250px;
    width: 1100px;
    align-self: center;
    box-shadow: none;
    background-color:#ffeae0cb;
  margin:auto;
  margin-top: 20px;
    padding-bottom: 10px;
    box-shadow: #053B47;
    box-shadow: 8px 10px #e8b967a9;
    text-align: center;
 }
 p{
    color: #053B47;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
   /* font-weight: bold;*/
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
 
   
   /* text-shadow: 4px 5px #598B92;*/
 }
  
  .body-text {
  
    height:800px;
    width: 100%;

    background-size:cover;
   /* background-color:#FFEAE0;*/
    position: absolute;
    box-shadow: none;
    margin-bottom: 100px;
    padding-bottom: 100px;
    text-align: center;
    
  }
  h1{
    color: #053B47;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
   /* font-weight: bold;*/
  
  font-size:100px;
    padding-top: 100px;
    text-shadow: 4px 5px #598B92;
  
  }
  
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: #053B47;
  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .heading {
  
    color: #FAF3EE;

    text-transform: uppercase;
  
    letter-spacing: 5px;
    height:40px;
    width: 95px;
    background-image: url(images/logotexturecropped.jpg);
    background-size:cover;


  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  .text{
      
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: #FAF3EE;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
   /* font-weight: bold;*/
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: #E8B867;
  
  }
  
  .nav-links li a.active {
  
    background-color: #598B92;
  
  }
  .card {
    background-color: #598B92;

    padding: 1rem;
    text-align: center;
    border-radius: 30px;
    
    align-items: center;
    box-shadow: 8px 10px #e8b967a9;
    height: 200px;
  }
  .cards {
    max-width: 1200px;

    align-self: center;
    margin:auto;
    margin-top: 755px;
    display: grid;
    gap: 1rem;
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  .boxes
  {
    font-style: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin-top: 45px;
    color:#FAF3EE;
    font-size:xx-large;
  }
  h4{
    font-style: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    margin-top: 60px;
    color:#053B47;
    font-size:xx-large;

  }